body {
    font-family: 'EB Garamond', serif;
    background:#f6f4ef;
    margin: 0;
    padding: 0;
    color: #333;
}

.affiche {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4e9d8;
    border: 1px solid #ddd;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
	border-radius: 5%; /* Transforme l'image en cercle */
}

}

.texte-intro {
    font-style: italic;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

h1 {
    color: #8B4513;
    font-size: 2.5em;
    text-align: center;
    margin: 20px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #555;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.acte {
    background-color: #8B4513;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 20px 0;
    border-radius: 5px;
}

.missions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 20px 0;
}

.mission {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 5px;
    border-left: 5px solid #8B4513;
}

.mission img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.contact {
    text-align: center;
    margin: 20px 0;
}

.qr-code img {
    width: 100px;
    height: 100px;
}

.lien-direct a {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0;
}

.emails {
    margin-top: 10px;
    font-size: 18px;
}

.carte {
    text-align: center; /* Centre le contenu horizontalement */
}

.carte img {
    width: 60%;
    height: auto;
    margin-top: 20px;
	border-radius: 5%; /* Transforme l'image en cercle */
}
