body {
    font-family: 'EB Garamond', serif;
    background:#f6f4ef;
    margin: 0;
    padding: 0;
    color: #333;
}

.affiche {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4e9d8;
    border: 1px solid #ddd;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
	border-radius: 5%; /* Transforme l'image en cercle */
}

}

.texte-intro {
    font-style: italic;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

h1 {
    color: #8B4513;
    font-size: 2.5em;
    text-align: center;
    margin: 20px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #555;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.acte {
    background-color: #8B4513;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 20px 0;
    border-radius: 5px;
}
.acte a {
    color: white; /* Texte en blanc */
    text-decoration: none; /* Pas de soulignement */
}

.acte a:hover {
    color: white; /* Reste blanc au survol */
    text-decoration: none; /* Pas de soulignement au survol */
}


/* Conteneur des missions */
.missions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 20px 0;
}

/* Conteneur de chaque mission */
.mission {
    perspective: 1000px;
    width: 100%;
    height: 300px; /* Ajuste cette hauteur selon tes besoins */
}

/* Style pour les smartphones */
@media (max-width: 600px) {
    .mission {
        height: 500px;
    }
	
/* Carte de mission */
.mission-card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Effet de retournement au survol */
.mission:hover .mission-card {
    transform: rotateY(180deg);
}

/* Faces de la carte */
.mission-front, .mission-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

/* Face avant (recto) */
.mission-front {
    /* background-color: rgba(255, 255, 255, 0.7); */
	background-color: #8B4513;
    border: 5px solid #8B4513;
	color: white;
}

.mission-front img {
    width: 50px;
    height: 50px;
}

/* Face arrière (verso) */
.mission-back {
    /* background-color: #8B4513; */
	background-color: rgba(255, 255, 255, 0.7);
    color: #8B4513;
    transform: rotateY(180deg);
}

.mission-back h4 {
    margin-top: 0;
    color: #8B4513;
}

.mission-back p {
    text-align: center;
    font-size: 14px;
}

.mission-front i.fa-address-card {
    font-size: 40px; /* Ajuste cette valeur pour changer la taille de l'icône */
    /* color: #8B4513; /* Couleur de l'icône */ */
    margin: auto; /* Centre l'icône */
}

.mission-front i.fa-up-right-and-down-left-from-center{
    font-size: 40px; /* Ajuste cette valeur pour changer la taille de l'icône */
    /* color: #8B4513; /* Couleur de l'icône */ */
    margin: auto; /* Centre l'icône */
}

.mission-front i.fa-church{
    font-size: 40px; /* Ajuste cette valeur pour changer la taille de l'icône */
    /* color: #8B4513; /* Couleur de l'icône */ */
    margin: auto; /* Centre l'icône */
}

.mission-front i.fa-gears{
    font-size: 40px; /* Ajuste cette valeur pour changer la taille de l'icône */
    /* color: #8B4513; /* Couleur de l'icône */ */
    margin: auto; /* Centre l'icône */
}
				
.mission img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.contact {
    text-align: center;
    margin: 20px 0;
}

.qr-code img {
    width: 100px;
    height: 100px;
}

.lien-direct a {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0;
}

.emails {
    margin-top: 10px;
    font-size: 18px;
}

.carte {
    text-align: center; /* Centre le contenu horizontalement */
}

.carte img {
    width: 60%;
    height: auto;
    margin-top: 20px;
	border-radius: 5%; /* Transforme l'image en cercle */
}

